@tailwind base;
@tailwind components;
@tailwind utilities;

/* Non Tailwind Compatible Styles */

.no-highlight {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

main {
  @apply bg-slate-100;
}
